[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
regex = "==2020.9.27"
sanic = "<19.12.3"
scikit-learn ="<0.24.0"
rasa = "==2.5.0"
rasa-sdk = "==2.5.0"
requests = "==2.25.1"
pyspellchecker = "==0.6.2"

[dev-packages]

[requires]
python_version = "3.8"
